In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('teste.csv')
df

   id      nome  salario  idade
0   0    braian     5000     26
1   1  mauricio      400     94
2   2     luide   120000     70

In [7]:
df['salario'].max()

120000

In [8]:
df.describe()

        id        salario      idade
count  3.0       3.000000   3.000000
mean   1.0   41800.000000  63.333333
std    1.0   67762.231368  34.486712
min    0.0     400.000000  26.000000
25%    0.5    2700.000000  48.000000
50%    1.0    5000.000000  70.000000
75%    1.5   62500.000000  82.000000
max    2.0  120000.000000  94.000000

In [11]:
filter = df['salario'] > 600
filter

0     True
1    False
2     True
Name: salario, dtype: bool

In [12]:
df[filter]

   id    nome  salario  idade
0   0  braian     5000     26
2   2   luide   120000     70

In [14]:
df.as_matrix()

array([[0, 'braian', 5000, 26],
       [1, 'mauricio', 400, 94],
       [2, 'luide', 120000, 70]], dtype=object)