In [34]:
symbols = 'ABCZDEF'

In [35]:
#criando lista forma 1
codes = []
for symbol in symbols:
    codes.append(ord(symbol)) #ord() converte para os valores ascii
print(codes)

[65, 66, 67, 90, 68, 69, 70]

In [36]:
#criando lista forma 2
codes = [ord(symbol) for symbol in symbols]
print(codes, symbols)

[65, 66, 67, 90, 68, 69, 70] ABCZDEF

In [38]:
#listcomp ou map/filter
codes = [ord(s) for s in symbols if ord(s) > 67]
print(codes)
codes = list(filter(lambda c: c > 67, map(ord, symbols)))
print(codes)

[90, 68, 69, 70]
[90, 68, 69, 70]

In [46]:
#produto cartesiano de listcomps
symbols = ['A', 'B', 'C']
numbers = ['1', '2', '3']
#ordenada com preferencia no simbolo
result = [(symbol, number) for symbol in symbols for number in numbers]
print(result)
#ordenada com preferencia no numero
result = [(symbol, number) for number in numbers for symbol in symbols]
print(reverse)

[('A', '1'), ('A', '2'), ('A', '3'), ('B', '1'), ('B', '2'), ('B', '3'), ('C', '1'), ('C', '2'), ('C', '3')]
[('A', '1'), ('B', '1'), ('C', '1'), ('A', '2'), ('B', '2'), ('C', '2'), ('A', '3'), ('B', '3'), ('C', '3')]

In [53]:
#expressoes geradoras (genexp)
#possuem a mesma estrutura de listcomps porem, sao delimitadas por parenteses no lugar de colchetes
#gerando tupla
result = tuple(ord(symbol) for symbol in symbols)
print(result)

#gerando array
import array
result = array.array('I', (ord(symbol) for symbol in symbols))
print(result)

(65, 66, 67)
array('I', [65, 66, 67])

In [56]:
#imprimir
for result in('%s.%s' % (s, n) for s in symbols for n in numbers):
    print(result)

A.1
A.2
A.3
B.1
B.2
B.3
C.1
C.2
C.3

In [57]:
#usando tuplas como registros
traveler_ids = [('USA', '3213123'), ('BRA', 'A12032'), ('ESP', 'JS13293')]
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [61]:
# desempacotando tuplas
location = (571, 'Av. Ozorio de Almeida Taques', 'Telemaco borba')
number, street, city = location
print('City: ', city, '- Street: ', street, '- Number: ', number)

City:  Telemaco borba - Street:  Av. Ozorio de Almeida Taques - Number:  571

In [62]:
#swap de variaveis
a, b = (8, 20)
a, b = b, a
print(a, ' - ', b)

20  -  8

In [65]:
# prefixando argumentos com *
divmod(a, b)
t = (a, b)
# executar divmod(t) resultaria em erro, pois a funçao divmod necessita de 2 argumentos, logo:
print(divmod(*t))

(2, 4)

In [67]:
#usando tuplas para armazenar um caminho
import os
_, filename = os.path.split('/home/miguel/login.txt') #cria uma tupla (path/last part)
print(filename)

login.txt

In [74]:
#usando * para capturar itens excedentes
first ,*rest = range(8)
print(first, rest)
first ,*rest, last = range(8)
print(first, rest, last)

0 [1, 2, 3, 4, 5, 6, 7]
0 [1, 2, 3, 4, 5, 6] 7

In [82]:
#desempacotando tuplas aninhadas
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))
#olha que formatacao mais linda

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York        |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [92]:
#tuplas nomeadas usando namedtuple
from collections import namedtuple
City = namedtuple('City', 'name countrey population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
print(tokyo) #como pode ser visto, namedtuple ja tem implementado o metodo __repr__()
print(tokyo.population)

City(name='Tokyo', countrey='JP', population=36.933, coordinates=(35.689722, 139.691667))
36.933

In [93]:
#atributos e metodos herdados de tuple
City._fields
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data) #sinonimo de City(*delhi_data)
print(delhi._asdict())

OrderedDict([('name', 'Delhi NCR'), ('countrey', 'IN'), ('population', 21.935), ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [99]:
#FATIAMENTO E SLICE
l = [i*10 for i in range(1,7)]
print(l)

[10, 20, 30, 40, 50, 60]

In [104]:
print(l[:2]) #pegar os dois primeiros valores
print(l[2:]) #pegar os dois ultimos valores
print(l[2:4])#intervalo
print(l[::2])#pegar valores de 2 em 2
print(l[::-1])#pegar valores de 1 em 1 começando do final
print(l[2::2])#intervalo de 2 em 2 comecando no segundo elemento

[10, 20]
[30, 40, 50, 60]
[30, 40]
[10, 30, 50]
[60, 50, 40, 30, 20, 10]
[30, 50]

In [105]:
# atribuiçao de valores usando fatias
l[2:3] = [333, 222]
print(l)
#é necessario que o valor que deseja atribuir seja um valor iteravel

[10, 20, 333, 222, 40, 50, 60]

In [8]:
#lista mutavel
l = [1, 2, 3]
print(id(l))
l *= 2
print(id(l))

4432840008
4432840008

In [10]:
#lista imutavel
l = (1, 2, 3)
print(id(l))
l *= 2
print(id(l))

4432989640
4431903624

In [13]:
#curioso
t = (1, 2, [30, 40])
t[2] += [50, 60]

TypeError: 'tuple' object does not support item assignment

In [14]:
print(t)

(1, 2, [30, 40, 50, 60])

In [15]:
#usando o metodo sorted() para ordenar listas
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [16]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [17]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [18]:
sorted(fruits, key=len, reverse = True)

['raspberry', 'banana', 'grape', 'apple']

In [19]:
fruits

['grape', 'raspberry', 'apple', 'banana']

In [22]:
fruits.sort()
fruits

['apple', 'banana', 'grape', 'raspberry']