In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(0,100,(10,2))
data

array([[19, 48],
       [ 5, 93],
       [72, 90],
       [87,  3],
       [70, 33],
       [43, 23],
       [97, 89],
       [33, 80],
       [54, 82],
       [37,  2]])

In [4]:
scaler_model = MinMaxScaler()

In [5]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [6]:
scaler_model.fit(data)

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [7]:
scaler_model.transform(data)

array([[ 0.15217391,  0.50549451],
       [ 0.        ,  1.        ],
       [ 0.72826087,  0.96703297],
       [ 0.89130435,  0.01098901],
       [ 0.70652174,  0.34065934],
       [ 0.41304348,  0.23076923],
       [ 1.        ,  0.95604396],
       [ 0.30434783,  0.85714286],
       [ 0.5326087 ,  0.87912088],
       [ 0.34782609,  0.        ]])

In [8]:
scaler_model.fit_transform(data)

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.15217391,  0.50549451],
       [ 0.        ,  1.        ],
       [ 0.72826087,  0.96703297],
       [ 0.89130435,  0.01098901],
       [ 0.70652174,  0.34065934],
       [ 0.41304348,  0.23076923],
       [ 1.        ,  0.95604396],
       [ 0.30434783,  0.85714286],
       [ 0.5326087 ,  0.87912088],
       [ 0.34782609,  0.        ]])

In [9]:
import pandas as pd

In [11]:
mydata = np.random.randint(0,101,(50,4))
mydata

array([[ 76,  77,  57,  29],
       [ 84,  33,   6,  21],
       [ 23,  48,  32,  73],
       [ 25,  22,  28,  85],
       [ 64,  63,  56,  74],
       [ 45,  53,  35,  21],
       [ 24,  45,  77,  30],
       [ 68,  58,  62,  63],
       [ 43,  87, 100,   6],
       [ 93,  78,   9,  40],
       [  6,  66,  35,  66],
       [ 80,  19,  21,  69],
       [ 47,  42,  71,  88],
       [ 18,  32,  18,  69],
       [ 84,  67,  21,  71],
       [ 76,  23,  86,  10],
       [  2,  22,  66,   2],
       [ 90,  47,  60,  87],
       [ 35,  45,  56,  56],
       [ 52,  10,  84,  11],
       [ 90,  93,  79,  55],
       [  3,  68,  14,  12],
       [ 69,  36,  68,  55],
       [ 83,  75,  95,  49],
       [ 93,  57,  45,  98],
       [ 91,  65,   8,  94],
       [ 10,  98,  89,  64],
       [ 28,  66,  83,  35],
       [ 77,  72,  44,  84],
       [ 22,  41,  81,  82],
       [ 53,  87,  55,   9],
       [  0,  14,  99,  67],
       [ 10,  93,  27,  16],
       [ 19,  11,  76,  28],
       [  5,  58,   5,  68],
       [ 28,  51,  94,  93],
       [ 74,  88,  43,  76],
       [ 67,  44,  34,  87],
       [ 14,  49,  78,   4],
       [ 65,  11,  57,  85],
       [ 63,  52,  96,   3],
       [ 51,  78,  33,  79],
       [ 98,  67,  33,  35],
       [ 40,   9,   3,  81],
       [ 14,  88,  35,  69],
       [ 59,  95,  97,  21],
       [ 27,  55,  74,  84],
       [ 35,  12,  90, 100],
       [ 86,  52,  89,  37],
       [  2,  27,  76,  33]])

In [14]:
df = pd.DataFrame(data = mydata, columns = ['f1', 'f2', 'f3', 'label'])
df

    f1  f2   f3  label
0   76  77   57     29
1   84  33    6     21
2   23  48   32     73
3   25  22   28     85
4   64  63   56     74
5   45  53   35     21
6   24  45   77     30
7   68  58   62     63
8   43  87  100      6
9   93  78    9     40
10   6  66   35     66
11  80  19   21     69
12  47  42   71     88
13  18  32   18     69
14  84  67   21     71
15  76  23   86     10
16   2  22   66      2
17  90  47   60     87
18  35  45   56     56
19  52  10   84     11
20  90  93   79     55
21   3  68   14     12
22  69  36   68     55
23  83  75   95     49
24  93  57   45     98
25  91  65    8     94
26  10  98   89     64
27  28  66   83     35
28  77  72   44     84
29  22  41   81     82
30  53  87   55      9
31   0  14   99     67
32  10  93   27     16
33  19  11   76     28
34   5  58    5     68
35  28  51   94     93
36  74  88   43     76
37  67  44   34     87
38  14  49   78      4
39  65  11   57     85
40  63  52   96      3
41  51  78   33     79
42  98  67   33     35
43  40   9    3     81
44  14  88   35     69
45  59  95   97     21
46  27  55   74     84
47  35  12   90    100
48  86  52   89     37
49   2  27   76     33

In [15]:
X = data[['f1', 'f2', 'f3']]
y = df['label']

In [16]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [20]:
X_train.shape

(35, 3)

In [21]:
X_test.shape

(15, 3)